body {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
}

section {
    margin-bottom: 20px;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
[data-testid="slackProfilePicture"] {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
a {
    display: block;
    margin: 10px 0;
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.pro-pic-con {
    border-radius: 30px;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}
.pro-pic-con {
    border-radius: 30px;
    width: 20rem;
    height: 20rem;
}

[data-testid="slackProfilePicture"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


[data-testid="slackProfilePicture"] {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: white;
    height: 100vh;
}
.section-grid p{
    font-size: 2rem;
    font-weight: bold;
}

 .box , .box-large {
    padding: 20px;
    text-align: left;
    grid-column: span 2;
}
.box-large{
    padding-top: 5rem;
}

.goal-pic-con {
    max-width: 48rem;
    height: 50rem;

}
.goal-pic {
    object-fit: fit;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.sec-section {
    text-align: center;
    background-color: #122649;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.sec-section h1,
.sec-section h2{
    color: white;
}

.card-con {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    text-align: center;
    padding: 10px 45px;
    height: 25rem;
    width: 25rem;
    box-sizing: border-box;
}

.card p {
    font-size: 1.8rem;
}

    

@media (max-width: 768px) {
    .section-grid {
        grid-template-columns: 1fr;
    }

    .section-grid .box-large {
        display: none;
    }
    .section-grid p{
        font-size: 1.9rem;

    }
    
    .card-con {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .section-grid {
        grid-template-columns: 1fr;
    }

    .section-grid .box-large {
        display: none;
    }

    .section-grid p {
        font-size: 1.9rem;
    }

    .card-con {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
}